*{
    font-family:'Courier New', Courier, monospace
}
#main{
    background-color: grey;
}
.especial{
    color: blue;
}
h2,h3{
    border: 2px solid orange;
}
ul li{
    color: red;
}
li>ul>li{
    color:green;
}
ul+h3{
    background-color: pink;
}
p>img{
    border: 5px solid black;
}
p>img+span{
    border: 5px solid red;
}
p+h3{
    background-color: blue;
}